* {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
}

.hide {
    display: none;
}

title {
    color: black;
}

#question-box {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    /* display: none; */
}

#question-box h2 {
    background-color: transparent;
    color: black;
}

#question-box p {
    background-color: transparent;
    color: black;
}

#start {
    background: transparent;
    border: solid white;
}

#submitAnswerSec {
    background: transparent;
    display: flex;
}

#choices {
background: transparent;
}

.input-section {
    background-color: transparent;
}

